@import '_vars';
@import 'modules/_navbar';
@import 'modules/_users';
@import 'modules/_lightbox';
@import 'modules/_errors';
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

body {
 color: $main-color;
 background-color: $body-bg;
} 

.favesHeading {
  text-align: center;
  font-family: $font-family1;
  text-transform: uppercase;
  font-size: 40px;
}

h1, h2, h3, h4 {
  text-align: center;
  font-family: $font-family2;
  color:white;
  padding-top: 10px;
  text-transform: uppercase;
}

h4{
  text-transform: uppercase;
}

.u-link {
  width: 300px;
  border-radius: 30px;
  background-color: white;
  font-size: 20px;
  margin-top: 10px;
}

.team .user-panel .u-avatar {
    max-width: 700px;
    min-width: 300px;
}

.panel { min-height: 80vh; }

#to-top { position: fixed; bottom: 10px; right: 10px; display: none; }

